{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{% endblock %}</h1>
{% endblock %}

{% block content %}
    <script>
        fetch('/additem-loaded', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
                Authorization: 'Bearer ' + window.localStorage.getItem('access_token')
            }
        })
            .then(res => res.text())
            .then(html => {
                div = document.getElementById('page');
                div.innerHTML = html;
            });
    </script>

    <div id="page"></div>
{% endblock %}