{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Dashboard{% endblock %}</h1>
{% endblock %}

{% block content %}
    <ul>
        <li><a href="{{ url_for('pantry') }}">Pantry</a>
        <li><a href="{{ url_for('additem') }}">Add Pantry Item</a>
        <li><a href="{{ url_for('restrictions') }}">Dietary Restrictions</a>
        <li><a href="{{ url_for('recipes') }}">Recipes</a>
        <li><a href="{{ url_for('shoppinglist') }}">Shopping List</a>
        <li><a href="{{ url_for('popularrecipes') }}">Popular Recipes</a>
    </ul>
{% endblock %}