{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Your Favorite Recipes{% endblock %}</h1>
{% endblock %}

{% block content %}
    <h3>Some text here!</h3>

    {% for recipe in cursor %}
        <div>
            <p>{{recipe['recipe_name']}}</p><br>

            <img src="{{recipe['photo_url']}}" alt="{{recipe['recipe_name']}}"><br>

            <a href="{{recipe['url']}}"></a><br>

            <form action="/recipes/removelike/{{recipe['recipe_name']}}" method="post">
                <input type="submit" value="submit" name="Remove Like">
            </form><br>
        </div>
    {% endfor %}
{% endblock %}