{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Pantry Items{% endblock %}</h1>
  <style type="text/css" rel="stylesheet">
    .red {
        color: red;
    }
</style>
{% endblock %}


{% block content %}
    
    <a href="{{ url_for('additem') }}">Add New Item</a><br><br>

    <table>
        <tr>
            <th>Food Name</th>
            <th>Amount</th>
            <th>Units</th>
            <th>Date Bought</th>
            <th>Expiration Date</th>
            <th>Days Left</th>
        </tr>
        {% for item in cursor %}
        <tr>
            <td>{{item[1]}}</td>
            <td>{{item[2]}}</td>
            <td>{{item[3]}}</td>
            <td>{{item[4]}}</td>
            {% if item[5] %}
                {% set expire_date = item[4] + timedelta(days=item[5]) %}
                {% set days_left = expire_date - today %}
                <td>{{expire_date}}</td>
                <td class="{{'red' if days_left <= timedelta(days=3)}}"> 
                    {{(days_left).days}}</td>
            {% else %}
                <td></td>
                <td></td>
            {% endif %}
            
            <td><form action="/pantry/update/{{item[0]}}" method="get">
                <input type="submit" value="Update" name="update"></form></td>
            <td><form action="/pantry/delete/{{item[0]}}" method="post">
                <input type="submit" value="Delete" name="delete"></form></td>
        </tr>
	    {% endfor %}
    </table>
{% endblock %}

