<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Pantry Items</title>
</head>
<body>
    <h1> Pantry Items </h1>
    
    <table>
        <tr>
            <th>Food Name</th>
            <th>Amount</th>
            <th>Date Bought</th>
            <th>Expiration</th>
        </tr>
        {% for item in cursor %}
        <tr>
            <td>item['food_name']</td>
            <td>item['amount']</td>
            <td>item['date_bought']</td>
            <td>item['expiration']</td>
        </tr>
	    {% endfor %}
    </table>

</body>
</html>

