{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
    <h1> Pantry Items </h1>
    
    <table>
        <tr>
            <th>Food Name</th>
            <th>Amount</th>
            <th>Date Bought</th>
            <th>Expiration</th>
        </tr>
        {% for item in cursor %}
        <tr>
            <td>item['food_name']</td>
            <td>item['amount']</td>
            <td>item['date_bought']</td>
            <td>item['shelf_life']</td>
        </tr>
	    {% endfor %}
    </table>
{% endblock %}

