{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Recipes{% endblock %}</h1>
{% endblock %}

{% block content %}
    <h3>Liked recipes:</h3>
    {% for recipe in liked_recipes %}
        <div>
            <b><p>{{recipe['recipe_name']}}</p></b><br>

            <img src="{{recipe['photo_url']}}" alt="{{recipe['recipe_name']}}" width="600"><br>

            <a href="{{recipe['url']}}"></a><br>

            <form action="/recipes/dislike/{{recipe['recipe_name']}}" method="post">
                <input type="submit" value="Dislike" name="dislike">
            </form><br>
        </div>
    {% endfor %}

    <h3>New recipes:</h3>
    {% for recipe in other_recipes %}
        <div>
            <b><p>{{recipe['recipe_name']}}</p></b><br>

            <img src="{{recipe['photo_url']}}" alt="{{recipe['recipe_name']}}" width="600"><br>

            <a href="{{recipe['url']}}"></a><br><br>

            <form action="/recipes/like/{{recipe['recipe_name']}}" method="post">
                <input type="submit" value="Like" name="like">
            </form><br>
            <form action="/recipes/dislike/{{recipe['recipe_name']}}" method="post">
                <input type="submit" value="Dislike" name="dislike">
            </form><br>
        </div>
    {% endfor %}

    <h3>Recipes you can eat:</h3>
    {% for recipe in diet_recipes %}
        <div>
            <b><p>{{recipe['recipe_name']}}</p></b><br>

            <img src="{{recipe['photo_url']}}" alt="{{recipe['recipe_name']}}" width="600"><br>

            <a href="{{recipe['url']}}"></a><br><br>

            <form action="/recipes/like/{{recipe['recipe_name']}}" method="post">
                <input type="submit" value="Like" name="like">
            </form><br>
            <form action="/recipes/dislike/{{recipe['recipe_name']}}" method="post">
                <input type="submit" value="Dislike" name="dislike">
            </form><br>
        </div>
    {% endfor %}
{% endblock %}