{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Your Shopping List{% endblock %}</h1>
{% endblock %}

{% block content %}
<h3>Shopping List:</h3>
<ul>
    {% for item in shopping_list %}
        <li>{{item[0]}}</li>
    {% endfor %}
</ul>

<h3>Recipes in Shopping List:</h3>
{% for recipe in shopping_recipes %}
        <div>
            <a href="{{recipe['url']}}"><b><p>{{recipe['recipe_name']}}</p></a></b><br>

            <form action="/shoppinglist/delete/{{recipe['url']}}" method="post">
                <input type="submit" value="Delete" name="delete">
            </form><br>
        </div>
    {% endfor %}
{% endblock %}