{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Update Pantry Item{% endblock %}</h1>
{% endblock %}

{% block content %}
<form action="/pantry/update/{{item[0]}}" method="post">
    <label for="food_name">Food name:</label>
    <input list="food_names" name="food_name" id="food_name" value="{{item[1]}}">
    <datalist id="food_names">
        {% for c in cursor %}
        <option>{{c[0]}}</option>
        {% endfor %}
    </datalist><br><br>
    <label for="amount">Amount:</label>
    <input type="number" name="amount" step="0.01" min="0" id="amount" value="{{item[2]}}"><br><br>
    <label for="unit">Unit:</label>
    <input type="text" name="unit" id="unit" value={{item[3]}}><br><br>
    <label for="date_bought">Date Bought:</label>
    <input type="date" name="date_bought" id="date_bought" value="{{item[4]}}"><br><br>
    <input type="submit">
  </form>
{% endblock %}